In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet('../do_not_commit/Datasets/Persist_Operating_System_DATA.pq')


# os_install_date_age

In [17]:
df.columns.sort_values()

Index(['AgentID', 'BootDevice00', 'BuildNumber00', 'BuildType00',
       'CSDVersion00', 'Caption00', 'CodeSet00', 'CountryCode00',
       'CurrentTimeZone00', 'Debug00', 'Distributed00',
       'ForegroundApplicationBoost00', 'FreePhysicalMemory00',
       'FreeSpaceInPagingFiles00', 'FreeVirtualMemory00', 'InstallDate00',
       'InstanceKey', 'LastBootUpTime00', 'LocalDateTime00', 'Locale00',
       'MUILanguages00', 'MachineID', 'Manufacturer00',
       'MaxNumberOfProcesses00', 'MaxProcessMemorySize00',
       'NumberOfLicensedUsers00', 'NumberOfProcesses00', 'NumberOfUsers00',
       'OSArchitecture00', 'OSLanguage00', 'OSProductSuite00', 'OSType00',
       'OperatingSystemSKU00', 'OtherTypeDescription00', 'PlusProductID00',
       'PlusVersionNumber00', 'Primary00', 'ProductType00',
       'RWB_CREATE_TIMESTAMP', 'RWB_EFFECTIVE_DATE',
       'RWB_ETL_EVENT_DESTINATION_IDENTIFIER', 'RWB_Operating_System_DATA_ID',
       'RevisionID', 'SerialNumber00', 'ServicePackMajorVersion00',
       'ServicePackMinorVersion00', 'SizeStoredInPagingFiles00', 'Status00',
       'SystemDevice00', 'SystemDirectory00', 'TimeKey',
       'TotalSwapSpaceSize00', 'TotalVirtualMemorySize00',
       'TotalVisibleMemorySize00', 'Version00', 'WindowsDirectory00',
       'rowversion'],
      dtype='object')

In [24]:
# Age of the operating system calculated from the os_install_age.
# .groupby([MachineID, RWB_effective_date]) and use the .max() value of 'os_install_age'.

# RJ 08/01/23: 'os_install_age' doesn't exist. Using 'InstallDate00'.
os_install_age = df.groupby(['MachineID', 'RWB_EFFECTIVE_DATE'])['InstallDate00'].agg('max').reset_index()
os_install_age.to_parquet('../do_not_commit/FeatureDatasets/os_install_age.pq')
os_install_age

         MachineID RWB_EFFECTIVE_DATE            InstallDate00
0         16783564         2023-01-19  2021-04-02 14:25:05.000
1         16783564         2023-01-20  2021-04-02 14:25:05.000
2         16783564         2023-01-21  2021-04-02 14:25:05.000
3         16783564         2023-01-22  2021-04-02 14:25:05.000
4         16783564         2023-01-23  2021-04-02 14:25:05.000
...            ...                ...                      ...
1041725   16818954         2023-06-28  2022-12-01 12:37:51.000
1041726   16818955         2023-06-28  2023-06-27 11:53:37.000
1041727   16818958         2023-06-28  2022-12-01 07:21:03.000
1041728   16818959         2023-06-28  2023-06-27 14:51:45.000
1041729   16818962         2023-06-28  2023-06-27 16:20:45.000

[1041730 rows x 3 columns]


# last_boot_date_age

In [25]:
# Number of days since the machine was last booted.
# Can calculate this from the Operating_System_DATA table using the LastBootUpTime0 attribute.
# .groupby([MachineID, RWB_effective_date]) and use the .min() value of 'LastBootUpTime00'.

last_boot = df.groupby(['MachineID', 'RWB_EFFECTIVE_DATE'])['LastBootUpTime00'].agg('min').reset_index()
last_boot.to_parquet('../do_not_commit/FeatureDatasets/last_boot_up_time.pq')
last_boot

         MachineID RWB_EFFECTIVE_DATE         LastBootUpTime00
0         16783564         2023-01-19  2023-01-16 02:00:46.000
1         16783564         2023-01-20  2023-01-16 02:00:46.000
2         16783564         2023-01-21  2023-01-16 02:00:46.000
3         16783564         2023-01-22  2023-01-16 02:00:46.000
4         16783564         2023-01-23  2023-01-23 02:02:49.000
...            ...                ...                      ...
1041725   16818954         2023-06-28  2023-06-27 10:07:20.000
1041726   16818955         2023-06-28  2023-06-27 12:20:35.000
1041727   16818958         2023-06-28  2022-12-01 07:52:38.000
1041728   16818959         2023-06-28  2023-06-27 15:49:41.000
1041729   16818962         2023-06-28  2023-06-27 15:48:35.000

[1041730 rows x 3 columns]


# os_total_virtual_memory_size

In [29]:
# Total virtual operating system memory size.
# .groupby([MachineId, RWB_effective_date]) and use the .max() value of 'TotalVirtualMemorySize00'.

os_total_virtual_memory_size = df.groupby(['MachineID', 'RWB_EFFECTIVE_DATE'])['TotalVirtualMemorySize00'].agg('max').reset_index()
os_total_virtual_memory_size.to_parquet('../do_not_commit/FeatureDatasets/os_total_virtual_memory_size.pq')
os_total_virtual_memory_size

         MachineID RWB_EFFECTIVE_DATE  TotalVirtualMemorySize00
0         16783564         2023-01-19                     16895
1         16783564         2023-01-20                     16895
2         16783564         2023-01-21                     16895
3         16783564         2023-01-22                     16895
4         16783564         2023-01-23                     16895
...            ...                ...                       ...
1041725   16818954         2023-06-28                     64963
1041726   16818955         2023-06-28                     32490
1041727   16818958         2023-06-28                     64963
1041728   16818959         2023-06-28                     33573
1041729   16818962         2023-06-28                     32490

[1041730 rows x 3 columns]